.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    color: #333;
    padding-bottom: 5%;
    border-bottom: 1px solid #ddd;
    h3 {
        grid-column: 2/3;
        justify-self: center;
        width: fit-content;
        flex: 2;
    }
    .basket {
        grid-column: 3/4;
        justify-self: end;
        margin-right: 5%;
        flex: 1;
    }
    .back-button {
        img {
            width: 30px;
            cursor: pointer;
        }
    }
}

.restaurant-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.restaurant-info {
    margin-top: 10%;

    .price-category,
    .name,
    .opening-hours {
        margin-bottom: 2%;
    }

    .name,
    .opening-hours {
        font-weight: bold;
    }

    .price-category {
        font-size: 0.9em;
        color: #796864;
    }

    .name {
        font-size: 1.5em;
        margin: 5px 0;
    }

    .opening-hours {
        font-size: 0.9em;
        color: #796864;
    }

    .description {
        margin-bottom: 5%;
        margin-top: 5px;
        font-size: 0.95em;
    }
}

.menu {
    margin-top: 20px;

    h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
}

.menu-dish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.menu-info {
    flex: 1;
    margin-left: 2%;
    width: 70%;
    .dish-name {
        font-size: 1em;
        font-weight: bold;
    }

    .dish-description {
        font-size: 0.9em;
        color: #796864;
    }

    .dish-price {
        font-size: 0.9em;
        font-weight: bold;
        margin-top: 5px;
        width: fit-content;
    }
    .dish-actions {
        display: flex;
        width: fit-content;
        align-items: center;
        margin-top: 8px;
        border: 1px solid #848484;
        border-radius: 7%;
        .quantity-btn {
            width: 25px;
            height: 25px;
            border: none;
            cursor: pointer;
            background-color: transparent;
        }
        .quantity {
            margin: 0 12px;
            font-size: 12px;
        }
    }
}

.add-btn {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-top: 12px;
    border-radius: 7%;
    border: none;
    background-color: #fff;
}

.dish-image {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 15px;
}
