<div class="container">
    <header class="header">
        <div class="back-button">
            <img src="arrow_left.svg" alt="Back" class="back-icon" (click)="goToHomePage()" />
        </div>
        <h3>512 Eats</h3>
        <div class="basket">
            <img src="basket.svg" alt="basket" (click)="goToCartPage()" />
        </div>
    </header>
    <ng-container *ngIf="$restaurant | async as restaurant">
        <!-- Restaurant Header -->
        <div class="restaurant-info">
            <p class="price-category">
                @for (dish of [].constructor(restaurant.averagePrice); track $index) {$} ·
                @for (item of restaurant.foodTypeList; track $index) {
                {{ item }} 
                }
                
            </p>
            <h1 class="name">{{ restaurant.name }}</h1>
            <p class="opening-hours">
                Opening time: Mon-Fri, {{ restaurant.openTime }} - {{ restaurant.closeTime }}
            </p>
            <p class="description">{{ restaurant.description }}</p>
        </div>

        <div class="menu">
            <h2>Menu</h2>
            @for(dish of restaurant.dishes; track $index){
            <div class="menu-dish">
                <div class="menu-info">
                    <h3 class="dish-name">{{ dish.name }}</h3>
                    <p class="dish-description">{{ dish.description }}</p>
                    <p class="dish-price">{{ dish.price }}€ · {{ dish.preparationTime }}min</p>
                    @if (subOrder && subOrder.status != "PLACED" && subOrder.status != "PAID") {
                    @if (getDishQuantity(dish.id) === 0) {
                    <button class="add-btn" (click)="increaseQuantity(dish)">
                        <img src="basket.svg" alt="basket" class="basket" />
                    </button>
                    } @else {
                    <div class="dish-actions">
                        <button class="quantity-btn" (click)="decreaseQuantity(dish)">-</button>
                        <span class="quantity">{{ getDishQuantity(dish.id) }}</span>
                        <button class="quantity-btn" (click)="increaseQuantity(dish)">+</button>
                    </div>
                    }
                    }
                </div>
                <img src="{{ dish.pictureURL }}" [alt]="dish.name" class="dish-image" />
            </div>
            }
        </div>
    </ng-container>
</div>