<div class="container">
    <div class="header">
        <div class="back-button">
            <img src="arrow_left.svg" alt="Back" class="back-icon" (click)="goToRestaurants()" />
        </div>
        <h2 class="title">My cart</h2>
    </div>

    <div class="cart-container">
        @if (subOrder && subOrder.dishes.length !== 0) {
        @for (item of subOrder.dishes; track item.id) {
        <div class="cart-item">
            <img [src]="item.pictureURL" alt="{{ item.name }}" class="item-image" />
            <div class="item-details">
                <h3 class="item-name">{{ item.name }}</h3>
                @if (subOrder.status != "PLACED" && subOrder.status != "PAID") {
                <div class="item-actions">
                    @if (item.quantity === 1) {
                    <button class="remove-btn" (click)="decreaseQuantity(item)">
                        <img src="delete.svg" alt="Remove" />
                    </button>
                    } @if (item.quantity > 1) {
                    <button class="quantity-btn" (click)="decreaseQuantity(item)">-</button>
                    }
                    <span class="quantity">{{ item.quantity }}</span>
                    <button class="quantity-btn" (click)="increaseQuantity(item)">+</button>
                </div>
                }
                @else {
                <p class="item-quantity">Quantity: {{ item.quantity }}</p>
                }
            </div>
            <p class="item-price">${{ item.price }}</p>
        </div>
        }


        <div class="cart-summary">
            <h4>Total</h4>
            <h2>${{ calculateTotal() }}</h2>
            @if (subOrder.status==="PAID") {
            <button class="pay-btn" (click)="closeGroupOrder()">Validate Group Order</button>
            }
            @if (subOrder.status==="PLACED") {
            <h3>Order Placed</h3>
            <h3>Delivery in coming !</h3>
            }
            @if (subOrder.status==="CREATED") {
            <button class="pay-btn" (click)="payOrder()">Pay Order</button>
            }
        </div>
        }

        @else {
        <div class="empty-cart">
            <img src="sad_face.svg" alt="Empty Cart" class="empty-cart-image" />
            <h3 class="empty-cart-text">Actually your cart is empty. Please add some items through the menu !</h3>
        </div>
        }
    </div>

</div>