.header {
    background-color: #fff;

    display: grid;
    position: sticky;
    top: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 16px;
    height: 80px;
    border-bottom: 1px solid #848484;
    padding: 20px;
}

.back-button {
    grid-column: 1/2;

    img {
        width: 30px;
        cursor: pointer;
    }
}

.title {
    grid-column: 2/3;
    justify-self: center;
}

.cart-container {
    width: 100%;
    max-width: 500px;
    margin-top: 10%;
    padding: 0 16px;
    padding: 20px;
    min-height: 700px;
    position: relative;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.item-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 8px;
}

.item-details {
    flex: 1;
    margin-left: 12px;
}

.item-name {
    font-size: 16px;
    margin: 0;
}

.item-actions {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-top: 8px;
    border: 1px solid #848484;
    border-radius: 7%;

    .remove-btn {
        width: 24px;
        height: 24px;
    }
}

.quantity-btn {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.quantity {
    margin: 0 12px;
    font-size: 16px;
}

.remove-btn {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 8px;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.cart-summary {
    position: absolute;
    height: 170px;
    width: 90%;
    text-align: center;
    bottom: 0;
    background-color: #fff;
    padding-top: 20px;
    border-top: 1px solid #848484;
}



.cart-summary h2 {
    font-size: 24px;
    padding: 8px 0;
    color: #333;
}

.pay-btn {
    width: 100%;
    padding: 12px 0;
    background-color: #ff5722;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    margin-top: 50px;
}

.empty-cart-image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.empty-cart-text {
    font-size: 18px;
    color: #333;
}
