<div class="container">
    <header class="header">
        <h3>512 Eats</h3>
        <div class="basket">
            <img src="basket.svg" alt="basket" (click)="goToCartPage()" />
        </div>
    </header>

    <div class="delivery-info">
        <img class="pin" src="pin.svg" alt="pin">
        <div class="deliver-text">
            <p>Deliver to</p>
            <p class="location">2 passage Marie Antoinette, Antibes</p>
        </div>
        <img class="arrow-down" src="arrow_down.svg" alt="arrow">


    </div>

    <div class="group-order">
        <div class="group-order-input">
            <img src="group.svg" alt="group">
            <input type="text" placeholder="#010203" class="group-code" />
            <img id="validateGroupOrderId"src="check.svg" alt="check">
        </div>

        <button class="buttonGroupOrder" id="groupOrderButton" (click)="joinGroupOrder()">
            <img id="joinGroupOrderId"src="login.svg" alt="login"/>
            Join group order</button>
        <button class="buttonGroupOrder" id="deleteGroupOrderButton" (click)="deleteGroupOrder()">
            <img id="deleteGroupOrderId"src="logout.svg" alt="logout"/>
            Exit group order 
        </button>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search for restaurants " />
        <button class="search-btn"><img src="search.svg" alt="search"></button>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <input type="checkbox" class="checkbox" id="checkbox" [(ngModel)]="isToggled" (change)="onToggleChange()">
            <label class="switch" for="checkbox">
                <span class="slider"></span>
            </label>
        </div>
        <span class="toggle-text">Open now</span>
    </div>



    <div class="filters">
        <div class="categories">
            @for(category of categories; track $index){
            <button class="category" [class.active]="selectedCategory === category.name"
                (click)="selectCategory(category.name)">
                <!--<img src="{{category.icon}}" [alt]="category.name + ' icon'" class="category-icon">-->
                <span>{{ category.name }}</span>
            </button>
            }
        </div>
    </div>
</div>