<div class="restaurant-list">
    @if ((restaurants$ | async)?.length === 0) {
    <div class="empty-cart">
        <img src="sad_face.svg" alt="Empty Cart" class="empty-cart-image" />
        <h3 class="empty-cart-text">Actually there are no restaurants available. Please try again later !</h3>
    </div>
    }
    @for (restaurant of restaurants$ | async; track restaurant.id) {
    <div class="restaurant-card" (click)="navigateToRestaurant(restaurant.id)">
        <div class="restaurant-header">
            <h2>{{ restaurant.name }}</h2>
            <p>
                @for (item of [].constructor(restaurant.averagePrice); track $index) {$} •
                {{ restaurant.foodTypeList.join(", ") }}
            </p>
        </div>
        <div class="restaurant-images">
            @for (image of restaurant.dishPictureURLListSample; track image) {
            <img [src]="image" [class.main-image]="restaurant.dishPictureURLListSample[0] === image"
                [class.secondary-image]="restaurant.dishPictureURLListSample[0] !== image"
                alt="{{ restaurant.name }} image" />
            }
        </div>
    </div>
    }
</div>