.restaurant-list {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.restaurant-card {
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(110, 80, 73, 0.20);
    background: #FFFDFC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    width: 90%;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.restaurant-header {
    margin-bottom: 12px;

    h2 {
        font-size: 1.25rem;
        margin: 0;
    }

    p {
        color: #888;
        font-size: 0.875rem;
    }
}

.restaurant-images {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;

    img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }

    .main-image {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }

    .secondary-image {

        width: 48%;
        border-radius: 8px;
    }
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    margin-top: 50px;
}

.empty-cart-image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.empty-cart-text {
    font-size: 18px;
    color: #333;
}