<div class="restaurant-list">
    @for (restaurant of restaurants$ | async; track restaurant.id) {
    <div
        class="restaurant-card"
        [routerLink]="['/restaurant', restaurant.id]"
        routerLinkActive="router-link-active"
    >
        <div class="restaurant-header">
            <h2>{{ restaurant.name }}</h2>
            <p>
                @for (item of [].constructor(restaurant.averagePrice); track $index) {$} •
                {{ restaurant.foodTypeList.join(", ") }}
            </p>
        </div>
        <div class="restaurant-images">
            @for (image of restaurant.dishPictureURLListSample; track image) {
            <img
                [src]="image"
                [class.main-image]="restaurant.dishPictureURLListSample[0] === image"
                [class.secondary-image]="restaurant.dishPictureURLListSample[0] !== image"
                alt="{{ restaurant.name }} image"
            />
            }
        </div>
    </div>
    }
</div>
